:root {
    --background-color: #085a9d;
    --card-color: #0b78d1;
    --form-color: #074b83;
    --font-color: #d2eafd;
    --font-color-focus: white;
    --placeholder-color: #79bff8;
    --trash-url: url('../resources/trash.svg');
    --trash_hover-url: url('../resources/trash_blue.svg');
    --out-url: url('../resources/out.svg');
    --out_hover-url: url('../resources/out_blue.svg');
    --check-url: url('../resources/check.svg');
    --check_hover-url: url('../resources/check_blue.svg');
}

body {
    background-color:#085a9d;
}
.card {
    border-radius: 0.7vmin;
    background-color: #0b78d1;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2);
    cursor: pointer;
}
.tool_card {
    border-radius: 0.7vmin;
    background-color: #0b78d1;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2);
}
.tool_card:hover, .card:hover {
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.6), 0 0 1rem rgba(0,0,0,0.6);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.card:hover > .card_title, .tool_card:hover > .menu .card_title {
    color: white !important;
}
.button {
    background-size: contain;
    cursor: pointer;
    filter: invert(1);
}
.button:hover {
    filter: invert(0);
}
.button::before {
    position: absolute;
    width: 5vmax;
    height: 5vmax;
    content: '';
    transform: translate(-50%, -50%);
}
.trash_button {
    background-image: var(--trash-url);
}
.trash_button:hover {
    background-image: var(--trash_hover-url);
}
.out_button {
    background-image: var(--out-url);
}
.out_button:hover {
    background-image: var(--out_hover-url);
}
.check_button {
    background-image: var(--check-url);
}
.check_button:hover {
    background-image: var(--check_hover-url);
}
.button-training {
    border: #d2eafd solid;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    color: #d2eafd;
    outline: none;
}
.button-active:hover {
    color: #074b83;
    border-color: #074b83;
    cursor: pointer;
}
div > * {
    font-family: 'Yeon Sung', cursive;
    font-weight: bold;
    color: #d2eafd;
}
::placeholder {
    color: #79bff8;
}
textarea, input {
    color: #074b83;
}
.little_text {
    font-size: 1vw;
}
.medium_text {
    font-size: 1.5vw;
}
.big_text {
    font-size: 3vw;
}
.huge_text {
    font-size: 5vw;
}
.form_wrapper {
    background-color: white;
    background: transparent;
}
.option_input {
    color: #d2eafd;
}
.option_checked {
    color: #074b83;
}
.w3-theme-l5 {color:#000 !important; background-color:#f2f9fe !important}
.w3-theme-l4 {color:#000 !important; background-color:#d2eafd !important}
.w3-theme-l3 {color:#000 !important; background-color:#a6d4fa !important}
.w3-theme-l2 {color:#000 !important; background-color:#79bff8 !important}
.w3-theme-l1 {color:#fff !important; background-color:#4daaf6 !important}
.w3-theme-d1 {color:#fff !important; background-color:#0c87eb !important}
.w3-theme-d2 {color:#fff !important; background-color:#0b78d1 !important}
.w3-theme-d3 {color:#fff !important; background-color:#0a69b7 !important}
.w3-theme-d4 {color:#fff !important; background-color:#085a9d !important}
.w3-theme-d5 {color:#fff !important; background-color:#074b83 !important}

.w3-theme-light {color:#000 !important; background-color:#f2f9fe !important}
.w3-theme-dark {color:#fff !important; background-color:#074b83 !important}
.w3-theme-action {color:#fff !important; background-color:#074b83 !important}

.w3-theme {color:#fff !important; background-color:#2196f3 !important}
.w3-text-theme {color:#2196f3 !important}
.w3-border-theme {border-color:#2196f3 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#2196f3 !important}
.w3-hover-text-theme:hover {color:#2196f3 !important}
.w3-hover-border-theme:hover {border-color:#2196f3 !important}