input {
    outline: none;
    border: none;
    text-align: center;
    background-color: transparent !important;
}
textarea {
    resize: none;
    outline: none;
    border: none;
    background-color: transparent !important;
}
.button {
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
}
